################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Samples/CosmosDBSample/CosmosDbClient/obj
/Samples/CosmosDBSample/.vs/CosmosDBSample/v16/Server/sqlite3
/Samples/CosmosDBSample/CosmosDbClient/bin/Debug/netcoreapp3.1
/Samples/CosmosDBSample/CosmosDbClient/.vs/CosmosDbClient
/Samples/CosmosDBSample/.vs/CosmosDBSample/DesignTimeBuild/.dtbcache
