################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Samples/CosmosDBSample/CosmosDbClient/obj
/Samples/CosmosDBSample/.vs/CosmosDBSample/v16/Server/sqlite3
